<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>About</h2>
            <p>COMING SOON </p>
        </div>
        <div class="col-md-9">
            <article>
                <h2>KNOW ME</h2>
                <p>
                   My name is Akash Yadav, and I am a student at Seneca College pursuing a course in computer programming. With a strong foundation in programming concepts, I possess expertise in several programming languages and technologies. In terms of programming languages, I am proficient in C++ and have a solid understanding of object-oriented programming (OOP) concepts. 
                   <br>
                   I can effectively utilize these skills to develop efficient and modular code structures. Additionally, I have knowledge of the Python.

Furthermore, my knowledge extends to web development, where I have expertise in React.js, HTML, CSS, and JavaScript. I am skilled at creating interactive and responsive user interfaces using these technologies. I am well-versed in React.js, a popular JavaScript library for building user interfaces, and can develop dynamic and robust web applications.

In terms of backend development, I am proficient in Node.js and Express.js. These technologies allow me to build server-side applications and RESTful APIs efficiently. Moreover, I have experience working with MongoDB, a NoSQL database, which enables me to store and retrieve data effectively in web applications.


<br>Overall, my skills in C++ and OOP concepts, Python, web development (including React.js, HTML, CSS, and JavaScript), and backend development (Node.js, Express.js, and MongoDB) make me a well-rounded programmer capable of tackling diverse projects and delivering high-quality solutions. I am passionate about programming and constantly strive to expand my knowledge and stay updated with the latest advancements in the field.
                </p>
                <!-- Rest of the content goes here -->
            </article>
        </div>
    </div>
</div>
