<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.</p>
        </div>
        <div class="col-md-9">
            <article>
                <h2>Coming Soon</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra. Nulla facilisi. In semper blandit arcu. Nullam vitae sem convallis, vehicula nisi eu, hendrerit justo.
                    Pellentesque libero neque, interdum nec diam bibendum, tristique pellentesque felis. Sed vel adipiscing lacus. Maecenas porta dolor a turpis aliquet, eget posuere nisi fringilla. Aenean ac turpis tristique,
                    feugiat mi sodales, laoreet neque. Donec tristique nec quam sit amet sagittis. Mauris elementum ullamcorper risus at luctus.
                </p>
                <!-- Rest of the content goes here -->
            </article>
        </div>
    </div>
</div>
